table {
  width: 100%;
}
// .mat-mdc-form-field {
//     font-size: 14px;
//     width: 100%;
// }
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-add {
  position: relative;
  right: 20px;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background-color: rgba(255, 165, 0, 0.2);
  color: var(--primaryColor);
  border-radius: 5px;
  padding: 2px 10px;
  margin: 0 2px;
}

// .heading .space-text {
//   background: none;
// }
