<div class="container mt-4">
  <h1 class="heading">
    <span>L</span>
    <span>i</span>
    <span>s</span>
    <span>t</span>
    <span>s</span>
    
  </h1>

  <div class="space">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Huy" #input/>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" class="button-add" routerLink="/create">+ Add new</button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- No Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let row; let i = index;">{{ i+1 }}</td>
      </ng-container>

      <!-- Id Consignment Column -->
      <ng-container matColumnDef="idConsignment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Consignment</th>
        <td mat-cell *matCellDef="let row">{{ row.idConsignment }}</td>
      </ng-container>
      
      <!-- product name Column -->
      <ng-container matColumnDef="product.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="product.name">Product Name</th>
        <td mat-cell *matCellDef="let row">{{ row.product.name }}</td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>

      <!-- product origin Column -->
      <ng-container matColumnDef="product.origin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="product.origin">Origin</th>
        <td mat-cell *matCellDef="let row">{{ row.product.origin }}</td>
      </ng-container>

      <!-- product price Column -->
      <ng-container matColumnDef="product.price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="product.price">Price</th>
        <td mat-cell *matCellDef="let row">{{ row.product.price | currency: 'USD': 'symbol':'1.2'}}</td>
      </ng-container>

      <!-- tax Column -->
      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax</th>
        <td mat-cell *matCellDef="let row">{{ row.tax }}</td>
      </ng-container>

      <!-- importDate Column -->
      <ng-container matColumnDef="importDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Import Date</th>
        <td mat-cell *matCellDef="let row">{{ row.importDate | date}}</td>
      </ng-container>

      <!-- exportDate Column -->
      <ng-container matColumnDef="exportDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Export Date</th>
        <td mat-cell *matCellDef="let row">{{ row.exportDate | date}}</td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" [routerLink]="['/detail', row.id]"><mat-icon>remove_red_eye</mat-icon></button>
            <button mat-icon-button color="warn" [routerLink]="['/update', row.id]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="accent" (click)="openModal(deleteModal, row.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    ></mat-paginator>
  </div>
</div>

<!-- confirmation-modal.component.html -->
<ng-template #deleteModal>
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true" style="padding: 0px 5px !important;">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>ID Consignment: {{ consignmentById?.idConsignment }}</p>
    <p>Name: {{ consignmentById?.product?.name }}</p>
    <p>Origin: {{ consignmentById?.product?.origin }}</p>
    <p>Price: {{ consignmentById?.product?.price }}</p>
    <p>Quantity: {{ consignmentById?.quantity }}</p>
    <p>Tax: {{ consignmentById?.tax }}</p>
    <p>Import Date: {{ consignmentById?.importDate }}</p>
    <p>Export Date: {{ consignmentById?.exportDate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="delete()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</ng-template>
<!-- <div *ngIf="bsModalRef">
  <div class="modal-backdrop fade show"></div>
</div> -->