
  <app-navbar></app-navbar>
  <app-home></app-home>
  <!-- <app-main></app-main> -->
  <!-- <app-list-customer></app-list-customer> -->
  <router-outlet></router-outlet>
  <app-comment></app-comment>
  <app-footer></app-footer>

    <!-- <app-create-customer></app-create-customer> -->
    <!-- <app-list-customer></app-list-customer> -->
    <!-- <app-update-customer></app-update-customer> -->
    <!-- <router-outlet></router-outlet> -->


<!-- <app-detail-contract></app-detail-contract> -->
<!-- <app-create-contract></app-create-contract> -->