.text{
    color: red;
    font-size: large;
    font-weight: 500;
}
.box {
    background-color: lightblue;
    padding: 5px;
}

#table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
.red-color {
    background-color: red;
    color: #fff;
}