<section class="footer">
    <div class="videoDiv">
        <video muted autoplay loop [src]="videoUrl" type="video/mp4"></video>
    </div>

    <div class="secContent container">
        <div class="contactDiv flex">
            <div data-aos="fade-up" class="text">
                <small>KEEP IN TOUCH</small>
                <h2>Travel with uS</h2>
            </div>

            <div class="inputDiv flex">
                <input data-aos="fade-up" type="text" placeholder="Enter Email Address">
                <button data-aos="fade-up" class="btn flex" type="submit">
                    SEND <i class="fa fa-paper-plane icon"></i>
                </button>
            </div>
        </div>

        <div class="footerCard flex">
            <div class="footerIntro flex">
                <div class="logoDiv">
                    <a href="" class="logo flex">
                        <mat-icon class="icon">travel_explore</mat-icon>Travel.
                    </a>
                </div>

                <div data-aos="fade-up" class="footerParagraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Ullam inventore eos fuga hic cum voluptatem minima, tempore
                    none odio provident nobis ipsam at, doloremque sed cupiditate ipsum in,
                    atque soluta?
                </div>

                <div data-aos="fade-up" class="footerSocials flex">
                    <i class="fab fa-twitter icon"></i>
                    <i class="fab fa-youtube icon"></i>
                    <i class="fab fa-instagram icon"></i>
                    <i class="fab fa-linkedin icon"></i>
                </div>
            </div>

            <div class="footerLinks grid">
                <!-- Group one  -->
                <div data-aos="fade-up" data-aos-duration="3000" class="linkGroup">
                    <span class="groupTitle">OUR AGENCY</span>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Services
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Insurances
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Agency
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Tourism
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Payment
                    </li>
                </div>

                <!-- Group two  -->
                <div data-aos="fade-up" data-aos-duration="4000" class="linkGroup">
                    <span class="groupTitle">PARTNERS</span>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Bookings
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> RentCars
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> HotelWorld
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Trivago
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> TripAdvisor
                    </li>
                </div>

                <!-- Group three  -->
                <div data-aos="fade-up" data-aos-duration="5000" class="linkGroup">
                    <span class="groupTitle">LAST MINUTE</span>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> London
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> California
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Indonesia
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Europe
                    </li>

                    <li class="footerList flex">
                        <mat-icon>keyboard_arrow_right</mat-icon> Oceania
                    </li>
                </div>
            </div>

            <div class="footerDiv flex">
                <small>BEST TRAVEL WEBSITE THEME</small>
                <small>COPYRIGHTS RESERVED - Huytran 2023</small>
            </div>
        </div>
    </div>
</section>
